<section class="">
    <header class="panel-heading">
        <h2> Apps </h2>
    </header>
    <div class="panel-body">
        <div class="jumbotron">
            <h1> Welcome to ePhoneGo </h1>
            <a
                href='https://play.google.com/store/apps/details?id=com.esi_estech.ephonego&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img
                    alt='Get it on Google Play' src='../images/google-play-badge.png' class="img-thumbnail"></a>
        </div>
    </div>
</section>