<div ng-repeat="repo in repoList">
    <div class="mdl-card on-the-road-again mdl-cell mdl-cell&#45;&#45;12-col">
        <div class="mdl-card__media mdl-color-text&#45;&#45;grey-50">
            <h3><a href={{repo.html_url}}>{{repo.name}}</a></h3>
        </div>
        <div class="mdl-color-text&#45;&#45;grey-600 mdl-card__supporting-text">
            {{repo.description}}
        </div>
        <div class="mdl-card__supporting-text meta mdl-color-text&#45;&#45;grey-600">
            <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button&#45;&#45;icon"
                    href="{{repo.html_url}}">
                <i class="material-icons">arrow_forward</i>
            </a>
            <div>
                <strong>The Newist</strong>
                <span>2 days ago</span>
            </div>
        </div>
    </div>
</div>