<!DOCTYPE html>
<html lang="en">
<head>
{% include page_header.html %}
</head>

<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <a href="#home"><h3 class="masthead-brand">Subbramanil</h3></a>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/repos">Repositories</a></li>
                            <li><a href="/contactMe">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                {{ content }}
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>Credits: Cover template for <a href="http://getbootstrap.com/">Bootstrap</a>, by <a
                            href="https://twitter.com/mdo">@mdo</a>.</p>
                </div>
            </div>

        </div>

    </div>

</div>


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>